.sidebar {
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 0;
  }
  
  .categories {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    background: #f3f3f3;
    border-radius: 5px;
    text-align: center;
  }
  
  .categories li:hover {
    background: #ddd;
  }
  
  .categories .active {
    background: #3b82f6;
    color: white;
    font-weight: bold;
  }
  